<!DOCTYPE html>
<html>
    <head>
        <title>
            goals tracker
        </title>
        <link rel ="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    </head>
    <body>
        <h1>GOAL TRACKER</h1>
        <nav>
            <a href="/">home</a>
            <a href="/add">add goal</a>

        </nav>
        <hr>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
    </body>
</html>
